.titulo-seccion {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.titulo-seccion h2 {
    font-size: 2rem;
    color: #333;
    text-align: center;
}

.linea {
    width: 140px;
    height: 1px;
    margin-top: 14px;
}