:root {
  --colorPrimary: #8FC74B;
  --colorSecondary: #5f947e;
  --footerColor: #E1EDE5;
  --font: font-family: 'Montserrat', sans-serif;
  --fontColor: #333;
  --fontColorLight: #fff;
  --colorFirst: #01402E;
  --colorSecond: #86BF5E
}

body {
  font-family: var(--font);
  color: var(--fontColor);
  background-color: #e0dede !important;
}

.btn-semp {
  background-color: var(--colorSecond) !important;
}

.btn-aplicacion {
  background-color: var(--colorSecond) !important;
}

.back-green {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .25);
  background-color: #f0efef;
  padding: 40px 60px;
}

@media (max-width: 965px) {
  .back-green {
    box-shadow: none !important;
    padding: 20px 40px;
  }
}

.back-green-phone-head {
  width: 100%;
  margin: 0 auto;
}

.btn-home-main:hover {
  background-color: rgb(2, 88, 2) !important;
}

.text-phone {
  margin-left: 14px;
  text-align: left;
}

.phone-product {
  background-color: rgb(255, 255, 255) !important;
}

.back-green-phone {
  display: flex;
  justify-content: center;
}

img {
  max-width: 100%;
}

.titulo-seccion h2 {
  font-family: 'Fira Code', monospace !important;
}

.linea {
  background-color: var(--colorSecondary);
}

@media (max-width: 400px) {
  body {
    max-width: 99%;
  }
}

.dn {
  visibility: hidden;
}

.pt-60 {
  padding-top: 120px;
}

.pt-120 {
  padding-top: 200px !important;
}

@media (max-width: 985px) {
  .pt-120 {
    padding-top: 120px !important;
  }
}

/* Home */

@media (min-width: 965px) {
  .btn-home {
    width: 268px !important;
    margin: 0 auto;
  }
}

.containerBackground {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.imgFondo {
  width: 100%;
  height: 580px;
  padding-top: 100px;
  padding-bottom: 100px;
  background-position: center center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

@media (max-width: 965px) {
  .imgFondo {
    padding: 40px 0;
    height: 680px;
  }
}

.imgFondo::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(15, 66, 41, .7);
  z-index: -1;
}

.containtMain {
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: white;
}

.containtMain h5 {
  font-size: 30px;
  font-weight: 400;
}

.containtMain h1 {
  font-size: 46px;
  font-weight: 600;
}

.containtMain p {
  font-size: 18px;
}

@media (max-width: 368px) {
  .containtMain p {
    display: none;
  }
}

@media (max-width: 700px) {
  .productCard {
    margin: 0 !important;
  }
}

.btn-main {
  width: 120px !important;
  height: 45px;
  font-size: 22px !important;
}


/* Productos destacados */

.featuredHR {
  margin: 0 auto;
  color: var(--grennColor);
  margin-bottom: 30px;
  margin-bottom: 40px;
}

.main-products-phone {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.productFeat img {
  width: 100%;
}

.productFeat h5 {
  font-size: 22px;
}


.card-body p {
  font-size: 17px;
}

.card-body span {
  color: var(--grennColor);
  font-size: 20px;
}

.btnViewAll button {
  width: 200px;
  height: 42px !important;
}

@media (max-width: 975px) {
  .btnViewAll button {
    width: 280px;
  }

  .btnViewAll {
    display: flex;
    justify-content: center;
    margin-left: 0;
  }

  .dn {
    display: none !important;
  }
}

.column-media {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 767px) {
  .column-media {
    display: flex !important;
    justify-content: center !important;
    flex-direction: column !important;
    align-items: center !important;
    align-content: center !important;
  }

  .text-dest-media {
    width: 350px;
    margin: 20px auto;
  }
}

.text-dest-media {
  width: 80%;
  margin: 20px auto;
}

.atropos-product-main {
  box-sizing: none;
}

.title {
  color: var(--grennColor);
  font-size: 30px !important;
  font-weight: 600;
}

.featuredCommon {
  padding-top: 60px;
}

.infoMore {
  display: flex;
  justify-content: center;
}


.pt60 {
  padding-top: 50px;
}

/* Categories featured */

.backgroundFeatured {
  padding: 50px 0;
}

.titleFeatured,
.imgTitleFeatured {
  display: flex;
  justify-content: center;
  color: white;
  text-transform: uppercase;
  font-size: 300px !important;
}

.categoryIndividual {
  background-color: white;
  padding: 20px 10px;
  border-radius: 2px;
  cursor: pointer;
  transition: all .5s ease-in-out;
}

.categoryIndividual:hover {
  transform: scale(.9);
  color: var(--grennColor) !important;
}

.titleCat {
  /*color: black;*/
  text-decoration: none !important;
}

.cat {
  gap: 60px;
}

@media (max-width: 815px) {
  .cat {
    flex-wrap: wrap !important;
    gap: 20px;
  }

  .backgroundFeatured {
    width: 100%;
    margin: 0 auto
  }

  .cat-elem {
    flex: 0 0 auto;
    width: 46%;
  }

  .cat>a {
    display: flex !important;
    justify-content: center;
  }
}

@media (max-width: 450px) {
  .featuredHR {
    width: 80%;
  }
}

/* BLOG HOME */

.blogHome-head {
  display: flex;
  justify-content: space-around;
}

.blogHome {
  display: flex;
  flex-direction: column;
  width: 26%;
  flex: 0 0 auto;
}

.blogHome p,
.blogHome h2 {
  color: black;
}

a {
  text-decoration: none !important;
}

.blogHome p {
  font-size: 14px;
  color: #495057;
}

.blogHome h2 {
  font-size: 24px;
  text-align: left !important;
  padding-top: 10px;
}

.blogHome img {
  border: 1px solid rgb(165, 164, 165);
  margin: 0 auto;
  transition: 0.7s;
}

.blogHome img:hover {
  transform: scale(0.95);
}

@media (max-width: 990px) {
  .blogHome-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .blogHome {
    width: 90%;
    text-align: left !important;
  }
}

/* Template Producto */

.flex-product {
  display: flex !important;
  flex-direction: column;
  gap: 50px;
}

.img-lateral {
  display: flex;
  padding: 0 !important;
  flex-direction: column;
  gap: 20px;
}

.img-lateral-content {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 4px;
  filter: grayscale(0.8);
  cursor: pointer;
  transition: 0.5s ease-in-out;
  width: 64%;
}

.img-lateral-focus {
  border: 1px solid black !important;
}

.img-lateral-content:hover {
  filter: grayscale(0);
  transform: scale(1.2);
}

.img-big {
  height: 100%;
  padding: 6px !important;
}

.img-big img {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.img-big-content {
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  height: 100%;
}

.container-product {
  max-width: 1450px;
  margin: 20px auto !important;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  padding-bottom: 40px;
}

@media (max-width: 1000px) {
  .container-product {
    max-width: 90% !important;
  }
}

.container-info-product {
  display: flex !important;
  flex-direction: column;
  margin: 0 0 auto 0 !important;
  border: 1px solid #EDEDED;
  border-radius: 20px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
  padding: 20px 80px 20px 20px !important;
  width: 35% !important;
  background-color: #F5F4B4 !important;
}

.product-price {
  font-size: 20px;
  margin-bottom: 20px;
}

.product-description {
  margin-bottom: 60px;
}

.product-name h2 {
  font-size: 36px;
}

.btnProduct {
  padding: 12px !important;
  margin: 40px 0 auto !important;
  background-color: #F5F4B4 !important;
  font-size: 30px !important;
  color: black !important;
}

.svg-product {
  color: black;
}

.atropos-template-product {
  transition: 0.5s ease-in-out;
}

.atropos-template-product img {
  border-radius: 10px;
  border: 1px solid rgb(165, 164, 164) !important;
}

.atropos-template-product :hover {
  border-radius: 10px;
}

/* Product relacionados */

.productos-relacionados-title h3 {
  font-size: 30px;
  text-align: center;
  font-weight: 400;
}

.productos-relacionados-title {
  margin-bottom: 40px !important;
}

@media(max-width: 675px) {
  .button-releated-btn {
    margin: 20px auto !important;
  }
}

@media(max-width: 1080px) {
  .phone-releated-button {
    justify-content: center !important;
  }
}

.phone-releated-button {
  display: flex;
  justify-content: flex-end;
  margin: 20px auto;
}

.button-releated-btn {
  max-width: 265px !important;
}

.template-product-info {
  padding: 0px 40px;
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 16px;
}

.template-product-info div {
  padding: 30px 10px 0 10px;
}

.template-product-category {
  padding-top: 0 !important;
}

.template-product-price h5 {
  font-size: 26px !important;
  font-weight: 300 !important;
}

/* Template Product Phone */

.product-image-phone {
  padding: 20px 20px 14px 20px !important;
}

.phone-name {
  margin-top: 20px;
  color: rgb(0, 0, 0);
  font-weight: 400 !important;
}

.phone-name h1 {
  font-weight: 400;
  font-size: 26px;
}

.phone-category {
  color: #646668;
}

.price-phone {
  font-size: 32px;
  color: rgba(0, 0, 0, 0.9);
  ;
}

.price-phone span {
  font-weight: 300 !important;
  color: rgb(0, 0, 0);
}

.price-phone-signo {
  margin-right: 8px;
}

.phone-description {
  font-size: 16px;
  max-width: 86%;
}

.span-ver {
  font-size: 16px;
  color: #646668;
  font-weight: 500;
  margin-left: 8px;
  cursor: pointer;
}

.phone-product-button {
  margin: 14px 4%;
}

.button-phone-shadow {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important;
}

.phone-product-button p {
  text-align: center;
  margin-top: 6px;
  font-size: 14px;
  color: rgb(102, 101, 101) !important;
}

.hr-product-phone {
  width: 90%;
  margin: 20px auto;
}

/* MODAL IMG */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  cursor: pointer;
}

.modalIMG {
  position: relative;
  min-width: 36%;
  min-height: 36%;
  max-width: 90%;
  max-height: 90%;
  z-index: 1001;
}

.large-image {
  width: 100%;
  height: 100%;
}

.close-modal-x {
  position: absolute;
  top: 40px;
  right: 100px;
  background: none;
  border: none;
  font-size: 80px;
  cursor: pointer;
  color: #ffffff;
}

.producto {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  width: 250px;
  text-align: center;
}

.imagen-producto {
  max-width: 100%;
  height: auto;
}

.precio {
  color: green;
}

.productos-relacionados {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.productos-relacionados {
  gap: 80px;
}

/* Footer */
footer {
  border-top: 1px solid rgb(165, 164, 165);
  background-color: var(--colorSecond);
  /* Color de fondo del footer */
  color: #000;
  /* Cambiar el color del texto a negro */
  padding: 40px;
  /* Espaciado interior del footer */
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  /* Permite que los elementos se envuelvan en pantallas pequeñas */
  justify-content: center;
  gap: 120px;
  /* Aumentar el espacio entre elementos a 120px en la versión de escritorio */
  align-items: center;
}

.footer-logo img {
  width: 160px;
  /* Aumentar el tamaño del logo en la versión de escritorio */
  height: auto;
  margin-bottom: 10px;
  /* Espaciado inferior para dispositivos móviles */
  cursor: pointer;
  /* Cambiar el cursor al pasar sobre el logo */
  transition: transform 0.4s ease-in-out;
}

.footer-logo img:hover {
  opacity: 0.8;
  /* Cambiar la opacidad al pasar sobre el logo */
  transform: translateY(-5px);
  /* Elevar ligeramente el elemento al pasar sobre él */

}

.footer-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-nav li {
  margin: 6px 0;
  transition: 0.6s ease-in-out;
}

.footer-nav a {
  text-decoration: none;
  font-size: 16px !important;
  color: #000;
  /* Cambiar el color del texto de enlaces a negro */
}

.footer-nav li:hover {
  color: #888;
  /* Cambiar el color a gris al pasar sobre el enlace */
  transform: translateY(-5px);
  /* Elevar ligeramente el enlace al pasar sobre él */
}

.footer-social a {
  margin: 0 10px;
  color: #000;
  /* Cambiar el color de los iconos de redes sociales a negro */
}

.footer-social li {
  font-size: 24px;
}

.footer-social svg {
  width: 1.5em;
  height: 1.5em;
  transition: 0.2s ease-in-out;
}

.footer-social svg:hover {
  color: #414141;
}



.footer-contact p {
  margin: 5px 0;
}

/* Estilos específicos para dispositivos móviles */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    gap: 30px;
  }

  .footer-social {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: row;
    /* Cambia a una disposición horizontal en dispositivos móviles */
    align-items: center;
  }

  .footer-logo {
    width: 120px;
    /* Aumentar el tamaño del logo en la versión de escritorio */
    margin-bottom: 0;
    /* Elimina el espacio inferior en dispositivos móviles */
  }

  .footer-nav {
    margin-left: 20px;
    /* Añade espacio entre el logo y los enlaces en dispositivos móviles */
  }
}

/* Card */

.text-card-title {
  font-size: 18px !important;
}

.text-card-desc {
  font-size: 14px !important;
}


/* All Products */

.allproducts-container {
  padding: 180px 0 120px 0;
}

.allproducts-head {
  display: flex;
  flex-wrap: wrap;
  gap: 36px;
  justify-content: center;
}

@media (max-width: 768px) {
  .allproducts-head {
    flex-direction: column;
    gap: 16px;
    align-items: center;
  }

  .taller-home-info span {
    font-size: 24px !important;
    ;
  }
}

.card-phone {
  cursor: pointer;
}

.allproducts-phone-div {
  width: 100%;
}

.productos-filtros {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

/* TALLER HOME */

.taller-home-head {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.taller-home-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.taller-home-elem {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 28px 16px;
  transition: 0.3s ease-in-out;
}

.taller-home-elem:hover {
  box-shadow: 6px 9px 46px rgba(51, 51, 51, 0.2);
}

.taller-home-elem:hover .taller-home-index {
  color: #01402E;
}

.taller-home-info {
  display: flex;
  align-items: center;
  gap: 14px;
  transition: 0.2s ease-in-out;
}

.taller-home-info:hover {
  cursor: pointer;
  color: #015a10 !important;
}

.taller-home-info:hover div {
  transform: translateX(10px);
}

.taller-home-info span {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
}

.taller-home-index {
  font-size: 54px;
  color: rgb(125, 125, 125);
  transition: 0.2s ease-in-out;
}

.taller-home-sec-head {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.taller-home-title-sec {
  font-weight: 500;
  font-size: 20px;
}

@media (max-width: 968px) {
  .taller-home-p {
    font-size: 14px;
  }
}

/* Contact Page */

.contact-container {
  padding: 120px 0 40px;
}

@media (min-width: 900px) {
  .contact-container {
    padding: 180px 0 100px;
  }
}

@media (max-width: 900px) {
  .contact-info-head {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .contact-form-data {
    flex-direction: column;
    gap: 20px !important;
  }

  .contact-info-subhead {
    justify-content: flex-start !important;
    display: flex;
  }

  .contact-form-title {
    margin-bottom: 0 !important;
    text-align: center;
  }
}

.contact-subtitle {
  text-align: center;
  color: #7d7d7d;
  font-size: 18px;
  font-weight: 400;
}

.contact-subtitle span {
  color: #01402E;
  font-weight: 500;
}

.contact-info-head {
  margin-top: 60px !important;
}

.contact-info-subhead {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.contact-info-data {
  display: flex;
  flex-direction: column;
}

.contact-info-data-title {
  font-size: 18px;
  font-weight: 500;
}

.contact-info-data-social {
  display: flex;
  gap: 14px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.contact-info-data-wp:hover {
  color: #2E7D32;
}

.contact-info-data-fb:hover {
  color: #1877F2;
}

.contact-info-data-ig:hover {
  color: #E47A5B;
}

.contact-info-data-ig:hover {
  background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* FORM CONTACT */

.contact-form {
  margin-top: 60px;
}

.contact-form-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.contact-form-head {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.contact-form-data {
  display: flex;
  gap: 60px;
}

/* TALLER SECTION */

.title-taller {
  text-align: center;
  font-size: 20px;
}

.taller-aside {
  margin-top: 40px!important;
  gap: 20px;
  justify-content: space-around;
}

.taller-aside-elem {
  display: flex;
  flex-direction: column;
  align-items: center;
}