:root {
  --colorPrimary: #8FC74B;
  --colorSecondary: #5f947e;
  --footerColor: #E1EDE5;
  --font: font-family: 'Montserrat', sans-serif;
  --fontColor: #333;
  --fontColorLight: #fff;
}

body {
  font-family: var(--font);
  color: var(--fontColor);
  background-color: #EDEDED !important;
}

.btn-semp {
  background-color: #DBE0A6 !important;
}

.back-green {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .25);
  background-color: #fff;
  padding: 40px 60px;
}

@media (max-width: 965px) {
  .back-green {
    box-shadow: none !important;
    padding: 20px 40px;
  }
}

.back-green-phone-head {
  width: 100%;
  margin: 0 auto;
}

.text-phone {
  margin-left: 14px;
  text-align: left;
}

.phone-product {
  background-color: rgb(255, 255, 255) !important;
}

.back-green-phone {
  display: flex;
  justify-content: center;
}

img {
  max-width: 100%;
}

.titulo-seccion h2 {
  font-family: 'Fira Code', monospace !important;
}

.linea {
  background-color: var(--colorSecondary);
}

@media (max-width: 400px) {
  body {
    max-width: 99%;
  }
}

.dn {
  visibility: hidden;
}

.pt-60 {
  padding-top: 120px;
}

.pt-120 {
  padding-top: 200px !important;
}

@media (max-width: 985px) {
  .pt-120 {
    padding-top: 120px!important;
  }
}

/* Home */

.containerBackground {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.imgFondo {
  width: 100%;
  height: 620px;
  padding-top: 130px;
  padding-bottom: 130px;
  background-position: center center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.imgFondo::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(15, 66, 41, .7);
  z-index: -1;
}

.containtMain {
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: white;
}

.containtMain h5 {
  font-size: 30px;
  font-weight: 400;
}

.containtMain h1 {
  font-size: 46px;
  font-weight: 600;
}

.containtMain p {
  font-size: 18px;
}

@media (max-width: 368px) {
  .containtMain p {
    display: none;
  }
}

@media (max-width: 700px) {
  .productCard {
    margin: 0 !important;
  }
}

.btn-main {
  width: 120px !important;
  height: 45px;
  font-size: 22px !important;
}


/* Productos destacados */

.featuredHR {
  width: 380px;
  margin: 0 auto;
  color: var(--grennColor);
  margin-bottom: 30px;
  margin-bottom: 40px;
}

.productFeat:hover {
  transform: scale(1.04)
}

.productFeat img {
  width: 100%;
}

.productFeat h5 {
  font-size: 22px;
}

.featureLinkCard {
  text-decoration: none;
  color: black;
}

.card-body p {
  font-size: 17px;
}

.card-body span {
  color: var(--grennColor);
  font-size: 20px;
}

.featureLinkCard:hover {
  color: black;
}

.btnViewAll button {
  width: 200px;
  height: 42px !important;
}

@media (max-width: 975px) {
  .btnViewAll button {
    width: 280px;
  }

  .btnViewAll {
    display: flex;
    justify-content: center;
    margin-left: 0;
  }

  .dn {
    display: none !important;
  }
}

.column-media {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 767px) {
  .column-media {
    display: flex !important;
    justify-content: center !important;
    flex-direction: column !important;
    align-items: center !important;
    align-content: center !important;
  }

  .text-dest-media {
    width: 350px;
    margin: 20px auto;
  }
}

.title {
  color: var(--grennColor);
  font-size: 30px !important;
  font-weight: 600;
}

.featuredCommon {
  padding-top: 60px;
}

.infoMore {
  display: flex;
  justify-content: center;
}


.pt60 {
  padding-top: 50px;
}

/* Categories featured */

.backgroundFeatured {
  padding: 50px 0;
}

.titleFeatured,
.imgTitleFeatured {
  display: flex;
  justify-content: center;
  color: white;
  text-transform: uppercase;
  font-size: 300px !important;
}

.categoryIndividual {
  background-color: white;
  padding: 20px 10px;
  border-radius: 2px;
  cursor: pointer;
  transition: all .5s ease-in-out;
}

.categoryIndividual:hover {
  transform: scale(.9);
  color: var(--grennColor) !important;
}

.titleCat {
  /*color: black;*/
  text-decoration: none !important;
}

@media (max-width: 815px) {
  .cat {
    flex-wrap: wrap !important;
  }

  .backgroundFeatured {
    width: 100%;
    margin: 0 auto
  }

  .categoryIndividual {
    flex: 0 0 auto;
    width: 40% !important;
  }
}

@media (max-width: 450px) {
  .categoryIndividual {
    flex: 0 0 auto;
    width: 50% !important;
  }

  .featuredHR {
    width: 80%;
  }
}

/* Blog Home */

.blogHome p,
.blogHome h2 {
  color: black;
  text-decoration: none !important;
}

a {
  text-decoration: none !important;
}

.blogHome p {
  font-size: 14px;
  color: #495057;
}

.blogHome h2 {
  font-size: 24px;
  text-align: left !important;
}

.blogHome img {
  max-height: 220px;
  border: 1px solid black;
  margin: 0 auto;
}

@media(min-width: 1400px) {
  .ax {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .ax h2 {
    align-self: stretch !important;
    margin-left: 27.656px;
    margin-right: 27.656px;
  }

  .ax p {
    align-self: stretch !important;
    margin-left: 27.656px;
    margin-right: 27.656px;
  }
}

@media (max-width: 990px) {
  .blogHome {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .ax {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .flex-product {
    gap: 0px!important;
  }

  .productos-relacionados {
    gap: 40px!important;
  }
}

/* Template Producto */

.flex-product {
  display: flex !important;
  flex-direction: column;
  gap: 50px;
}

.img-lateral {
  display: flex;
  padding: 0 !important;
  flex-direction: column;
  gap: 20px;
}

.img-lateral-content {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 4px;
  filter: grayscale(0.8);
  cursor: pointer;
  transition: 0.5s ease-in-out;
  width: 64%;
}

.img-lateral-focus {
  border: 1px solid black !important;
}

.img-lateral-content:hover {
  filter: grayscale(0);
  transform: scale(1.2);
}

.img-big {
  height: 100%;
  padding: 6px !important;
}

.img-big img {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.img-big-content {
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  height: 100%;
}

.container-product {
  max-width: 1450px;
  margin: 0 auto !important;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  padding-bottom: 80px;
}

@media (max-width: 1000px) {
  .container-product {
    max-width: 90% !important;
  }
}

.container-info-product {
  display: flex !important;
  flex-direction: column;
  margin: 0 0 auto 0 !important;
  border: 1px solid #EDEDED;
  border-radius: 20px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
  padding: 20px 80px 20px 20px !important;
  width: 35% !important;
  background-color: #F5F4B4 !important;
}

.product-price {
  font-size: 20px;
  margin-bottom: 20px;
}

.product-description {
  margin-bottom: 60px;
}

.product-name h2 {
  font-size: 36px;
}

.btnProduct {
  padding: 12px !important;
  margin: 40px 0 auto !important;
  background-color: #F5F4B4 !important;
  font-size: 30px !important;
  color: black !important;
}

.svg-product {
  color: black;
}

.atropos-template-product {
  transition: 0.5s ease-in-out;
}

.atropos-template-product :hover {
  border-radius: 10px;
}

/* Product relacionados */

.productos-relacionados-title h3 {
  font-size: 30px;
  text-align: center;
  font-weight: 400;
}

.productos-relacionados-title {
  margin-bottom: 40px !important;
}

@media(max-width: 675px) {
  .button-releated-btn{
    margin: 20px auto!important;
  }
}

@media(max-width: 1080px) {
  .phone-releated-button {
    justify-content: center!important;
  }
}

.phone-releated-button {
  display: flex;
  justify-content: flex-end;
  margin: 20px auto;
}

.button-releated-btn {
  max-width: 265px!important;
}

.template-product-info {
  padding: 0px 40px;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 16px;
}

.template-product-info div {
  padding: 30px 10px 0 10px;
}

.template-product-category {
  padding-top: 0!important;
}

.template-product-price h5 {
  font-size: 40px!important;
  font-weight: 300!important;
}


/* Template Product Phone */

.product-image-phone {
  padding: 20px 20px 14px 20px!important;
}

.phone-name {
  margin-top: 20px;
  color: rgb(0, 0, 0);
  font-weight: 400!important;
}

.phone-name h1 {
  font-weight: 400;
  font-size: 26px;
}

.phone-category {
  color: #646668;
}

.price-phone {
  font-size: 32px;
  color: rgba(0, 0, 0, 0.9);;
}

.price-phone span {
  font-weight: 300!important;
  color: rgb(0, 0, 0);
}

.price-phone-signo {
  margin-right: 8px;
}

.phone-description {
  font-size: 16px;
  max-width: 86%;
}

.span-ver {
  font-size: 16px;
  color: #646668;
  font-weight: 500;
  margin-left: 8px;
  cursor: pointer;
}

.phone-product-button {
  margin: 14px 4%;
}

.button-phone-shadow {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px!important;
}

.phone-product-button p{
  text-align: center;
  margin-top: 6px;
  font-size: 14px;
  color: rgb(102, 101, 101) !important;
}

.hr-product-phone {
  width: 90%;
  margin: 20px auto;
}

/* MODAL IMG */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  cursor: pointer;
}

.modalIMG {
  position: relative;
  min-width: 36%;
  min-height: 36%;
  max-width: 90%;
  max-height: 90%;
  z-index: 1001;
}

.large-image {
  width: 100%;
  height: 100%;
}

.close-modal-x {
  position: absolute;
  top: 40px;
  right: 100px;
  background: none;
  border: none;
  font-size: 80px;
  cursor: pointer;
  color: #ffffff;
}

.producto {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  width: 250px;
  text-align: center;
}

.imagen-producto {
  max-width: 100%;
  height: auto;
}

.precio {
  color: green;
}

.productos-relacionados {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.productos-relacionados {
  gap: 80px;
}